{% extends "layout.html" %}
{% block body %}
    <h1>Cloud Vision API demo</h1>
    <form action="submit" method=post enctype=multipart/form-data>

      <p>Input your api key: <input type="key" name="key" /></p>

      <p>Select type: <select name="type">
        <option value="LABEL_DETECTION">label detection</option>
        <option value="TEXT_DETECTION">text detection(OCR)</option>
        <option value="FACE_DETECTION">face detection</option>
<!--        <option value="LANDMARK_DETECTION">landmark detection</option>  -->
        <option value="LOGO_DETECTION">logo detection</option>
        <option value="SAFE_SEARCH_DETECTION">safe search detection</option>
<!--        <option value="WEB_DETECTION">web detection</option>  -->
      </select></p>
      <p>
         <input type="file" name="file">
         <input type="submit" value="Submit">
    </form>
{% endblock %}
